<section id="todoapp">

  <header id="header">
    <h1>Tarefas</h1>
     <%= form_tag tarefas_path do %>
      <input id="new-todo"
             placeholder="O que você precisa fazer?"
             name="tarefa"
             autofocus
             autocomplete="off"
             required>
    <% end %>

  </header>



  <!-- 
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <ul class="list-group">
          <%= form_tag tarefas_path do %>
           <li  class="list-group-item" ><input id=""
                class="form-control" 
                 placeholder="O que você precisa fazer?"
                 name="tarefa"
                 autofocus
                 required></li>
      <% end %>
          <% for tarefa in @tarefas %>
              <li class="list-group-item">
              <div class="view">
                <a href="<%= toggle_tarefa_path tarefa %>"
                   class="toggle"
                   data-method="patch">
                </a>

                <label>
                  <a href="<%= edit_tarefa_path tarefa %>?list=<%= action_name %>">
                    <%= tarefa.titulo %>
                  </a>
                </label>

                <a href="<%= tarefa_path tarefa %>"
                   data-method="delete"
                   data-confirm="Tem Certeza?"
                   class="destroy">
                </a>

              </div>

              <%= form_for tarefa do %>
                  <input type="hidden" name="list" value="<%= params[:list] || :index %>">
                  <input class="edit" name="titulo" value="<%= tarefa.titulo %>">
              <% end %>

            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div> -->


  <section id="main">
    <ul id="todo-list">

      <% for tarefa in @tarefas %>
          <li class="<%= 'editing ' if @tarefa == tarefa %> <%= 'completed' if tarefa.concluida? %>">
            <div class="view">
              <a href="<%= toggle_tarefa_path tarefa %>"
                 class="toggle"
                 data-method="patch">
              </a>

              <label>
                <a href="<%= edit_tarefa_path tarefa %>?list=<%= action_name %>">
                  <%= tarefa.titulo %>
                </a>
              </label>

              <a href="<%= tarefa_path tarefa %>"
                 data-method="delete"
                 data-confirm="Tem Certeza?"
                 class="destroy"></a>
            </div>

            <%= form_for tarefa do %>
                <input type="hidden" name="list" value="<%= params[:list] || :index %>">
                <input class="edit" name="titulo" value="<%= tarefa.titulo %>" autofocus required>
            <% end %>
         </li>
      <% end %>
    </ul>

  </section>



  <footer id="footer">
    <span id="todo-count">
      <%= pluralize @tarefas.count, 'tarefa' %>
    </span>

    <ul id="filters">
      <li>
        <a class="<%= 'selected' if action_name == 'index' %>"
           href="<%= tarefas_path %>">
          Todas (<%= @count_todas %>)
        </a>
      </li>

      <li>
        <a class="<%= 'selected' if action_name == 'ativas' %>"
           href="<%= ativas_tarefas_path %>">
          Ativas (<%= @count_ativas %>)
        </a>
      </li>

      <li>
        <a class="<%= 'selected' if action_name == 'concluidas' %>"
           href="<%= concluidas_tarefas_path %>">
          Concluídas (<%= @count_concluidas %>)
        </a>
      </li>
    </ul>

    <% unless @count_concluidas.zero? %>
        <a id="clear-completed"
           href="<%= destroy_concluidas_tarefas_path %>"
           data-method="delete"
           data-confirm="Tem Certeza?">
          Excluir Concluídas (<%= @count_concluidas %>
        </a>

  <% end %>
  </footer>


</section>
<ul>
      <p class="bs-example">
        <a href="http://localhost:3000/usuarios" class="btn btn-warning btn-sm active" role="button">usuario</a>
        <a href="http://localhost:3000/usuarios/new" class="btn btn-success btn-sm active" role="button">nova conta</a>
      </p>
</ul>