<table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Mensagem</th>
          <th>Alterado</th>
          <th>Criado</th>
        </tr>
      </thead>
      <tbody>
      <% for contato in @contatos %>

        <tr>
          <td> <%= contato.id %> </td>
          <td><%= contato.nome %></td>
          <td> <%= contato.email %></td>
          <td><%= truncate contato.mensagem %></td>
          <td><%= l contato.created_at %></td>
          <td><%= l contato.updated_at %></td>
        </tr>

      <% end %>
      </tbody>
</table>