<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <%= link_to 'Help_desk', root_path, class: 'navbar-brand' %>
	      
	    </div>

	    <ul class="nav navbar-nav">
	      <li>
	      	<%= link_to 'Home', root_path %> 
	      	
	      </li>

	      <li>
	      	<%= link_to 'Recursos', recursos_path %>
	      	
	      </li>

	      <li>
	      	<%= link_to 'Preços', precos_path %>

	      </li>

	      <li>
	      	<%= link_to 'Fale conosco', contato_path %>

	      </li>
	      
	      <li>
	      	<%= link_to 'Contatos', contatos_path %>
	      </li>
	    </ul>
	  </div>
	</nav>